doctype html
html(lang="en")
    head
        title=title
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css")
body
    .container
        if user 
            include partials/user.pug
        else 
            include partials/users.pug
